@media (max-width: 767px) {
  .mbMenu {
    width: 100%;
    background: #333;
    left: 0px;
    padding: 60px 0px;
  }
  .mbMenu li {
    padding: 5px 0px;
  }
  .mbMenu li a {
    font-size: 30px;
    color: #fff;
  }
}
